<div>
  <%= image_tag(image_path('project2.jpg'),:width => '650px;',:height => '400px;') -%>
  <%= image_tag(image_path('project.jpg'),:width => '650px;',:height => '400px;') -%>
</div>
<div>
  <p>
    【交易流程】
    <br>1、预定之前请您先通过猪八戒网与我咨询沟通，您所需大致想法和需求。开发费用是根据需求功能和难易程度而定。
    <br>2、双方设定合作意向，您购买服务，并付款到猪八戒网；对于金额超过人民币一万以上的雇佣或购买服务，我们将要求客户支付首付款及按进度付款，具体付款进度由双方协商。
    <br>3、购买服务，以晟轩科技在猪八戒公示出售的服务标准内容为准；雇佣晟轩科技以雇佣清单约定的内容为准；超过以上约定内容的开发服务我方有权拒绝提供，或者在我方同意的基础上增加相应预算。
    <br>4、开发周期由开发难易程度而定。
    <br>5、开发过程中，买家可以监督开发进度。
    <br>【买家须知】
    <br>1、开发中途不允许更改功能模块内容，否则视为二次开发。
    <br>2、本店铺不接受先开发后付款、竞标的交易方式。
    <br>3、尊重我们的劳动成果，因为沟通中可能会出现不同的分歧，但相信经过细致沟通确定需求后，会有你最满意的作品。
    <br>4.、在我方没有违背买家原有的开发意愿，中途不能退款。
  </p>
</div>
<p>
  1.因为网站属于定制型产品，所以购买前请与我们客服沟通，定好价格后再开始交易。
  <br>2.交易流程为猪八戒交易，您全额拍下并付款到猪八戒，或者也可以先付百分之50给猪八戒，我们做好美工，美工满意后再付百分之50给猪八戒，我们做后台程序。程序您满意后一起给我们确认
  <br>3.我们根据您的要求设计效果图片并发布到临时网站上，同时根据您提出的要求进一步修改完善，我们承诺在效果图片的修改上不限次数，直到满意为止，所以请您在此阶段尽量配合，效果图确定以后，做出来的程序是一样的，做出来后，请不要再次对美工修改，敬请谅解。
  <br>4.效果图片确定以后，我们将编写程序发布到临时网站上给您演示，此时您可登陆后台，发布信息。验证所有功能是否完善，如果在使用过程中，发现有个别功能不完善，会安排技术帮您修改，或者您也可以把需要修改的整理一下保存到word中，整理后发给我们，我们将会对其进行修改。
  <br>5.当您对程序完全满意后，请您在猪八戒给我们确认，我们安排给您开通网站，然后您在给我们评价，需要提供源码的客户，也需要您确认后我们发源码给您
</p>