<div>
  <h3>Saltyce</h3>
  <div style="float: left;width: 200px;">
    <ul>
      <li>home</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
  <div style="float: left;width: 1000px"></div>
</div>