<div style="color: red;line-height: 22px;font-weight: bold;">
  定制内容包含主要服务项目有：
</div>
<p>
  <br>1、网站前台首页各栏目页面设计；
  <br>2、网站后台管理程序开发；
  <br>3、域名(com/cn/net/org)任选一个！
  <br>4、享受西部数码大牌公司双线双IP智能网站空间1000M，主机安全、稳定、速度快、双线主机！
  <br>5、半年免费维护！
  <br>6、免费提交各大搜索引擎登陆，便于其他搜索引擎收录推广！
  <br>7、免费制作基本的seo优化服务！
  <br>8、免费指导备案！
  <br>9、100条产品以内免费添加网站的内容数据（其他公司一般不会免费帮你添加网站资料内容，你自己添加将会费很多时间影响你的其他工作）
  <br>10、温馨提示：价格针对此项栏目定制，如有其他定制要求，价格另议，欢迎洽谈。
</p>

<div style="color: red;line-height: 22px;font-weight: bold;margin-top:20px; ">
  联系方式：
</div>
<p>
  联系人：任经理
</p>